<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 th:text="|今天是${name}的生日|"></h1>
    <h1 th:text="'今天是'+${name}+'的生日'"></h1>
    <h1 th:if="${name=='小兰'}">岚晓</h1>
    <h1 th:if="${name=='小'}">no岚晓</h1>
    <h1 th:unless="${name=='小'}">unless岚晓</h1>
    <h1 th:if="${name!='小'}">no岚晓</h1>

    <input type="text" th:value="${name}"><br><br>

    <div th:switch="${name}">
        <h1 th:case="小兰">no岚晓</h1>
        <h1 th:case="${msg}">${msg}</h1>
    </div>


</body>
</html>